<%- include("../includes/head") %>
</head>
<body>
    <%- include("../includes/navigation") %>
    <main>
        <% if (prods.length>0){ %>
        <% for (let product of prods){ %> 
        <div class="grid">
            <header class="product-header">
                <h3>
                    <%= product.title %>
                </h3>
                <div class="product-img-container">
                    <img src="<%= product.url %>" alt="Some Random Image" />
                </div>
                <div class="product-info">
                    <h4>
                        <%= product.price %>
                    </h4>
                    <p>
                        <%= product.desc %>
                    </p>
                    
                    
                </div>
                <div class="btn-holder">
                    <form action="/cart" method="POST">
                        <button type="submit">Add to cart</button>
                        <input type="hidden" value="<%= product.id %>" name="id"/>
                    </form>
                </div>
            </header>

        </div>
        <% } %>
        <% } else { %>
        <h1>No products..</h1>
        <% } %>
    </main>
<%- include("../includes/end") %>
